## Bestsellers

In [1]:
import numpy as np
import pandas as pd

In [2]:
table1 = pd.DataFrame([{'product_id':23, 'name':'computer', 'wholesale_price': 500, 'retail_price':1000, 'sales':100},
               {'product_id':96, 'name':'Python Workout', 'wholesale_price': 35, 'retail_price':75, 'sales':1000},
               {'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35, 'retail_price':75, 'sales':500},
               {'product_id':15, 'name':'banana', 'wholesale_price': 0.5, 'retail_price':1, 'sales':200},
               {'product_id':87, 'name':'sandwich', 'wholesale_price': 3, 'retail_price':5, 'sales':300},
               ])
tablle2 = pd.DataFrame([{'product_id':24, 'name':'phone', 'wholesale_price': 200, 'retail_price':500},
                            {'product_id':16, 'name':'apple', 'wholesale_price': 0.5, 'retail_price':1},
                            {'product_id':17, 'name':'pear', 'wholesale_price': 0.6, 'retail_price':1.2}], 
                            index=range(5,8))
df = pd.concat([table1,tablle2])
df

   product_id            name  wholesale_price  retail_price   sales
0          23        computer            500.0        1000.0   100.0
1          96  Python Workout             35.0          75.0  1000.0
2          97  Pandas Workout             35.0          75.0   500.0
3          15          banana              0.5           1.0   200.0
4          87        sandwich              3.0           5.0   300.0
5          24           phone            200.0         500.0     NaN
6          16           apple              0.5           1.0     NaN
7          17            pear              0.6           1.2     NaN

In [3]:
df.loc[df['sales'] > df['sales'].mean()]

   product_id            name  wholesale_price  retail_price   sales
1          96  Python Workout             35.0          75.0  1000.0
2          97  Pandas Workout             35.0          75.0   500.0

In [4]:
df.loc[df['sales'] > df['sales'].mean(),['product_id', 'name']]

   product_id            name
1          96  Python Workout
2          97  Pandas Workout

In [5]:
df.query('sales > sales.mean()')

   product_id            name  wholesale_price  retail_price   sales
1          96  Python Workout             35.0          75.0  1000.0
2          97  Pandas Workout             35.0          75.0   500.0

In [6]:
df.query('sales > sales.mean()')[['product_id', 'name']]

   product_id            name
1          96  Python Workout
2          97  Pandas Workout