##

## Finding outliers

In [157]:
import pandas as pd
import numpy as np

In [158]:
trip_distance = pd.read_csv('../data/taxi-distance.csv', header=None).squeeze()
passenger_count = pd.read_csv('../data/taxi-passenger-count.csv', header=None).squeeze()

In [159]:
df = pd.DataFrame({'trip_distance':trip_distance, 'passenger_count':passenger_count})
df

      trip_distance  passenger_count
0              1.63                1
1              0.46                1
2              0.87                1
3              2.13                1
4              1.40                1
...             ...              ...
9994           2.70                1
9995           4.50                1
9996           5.59                1
9997           1.54                6
9998           5.80                1

[9999 rows x 2 columns]

In [160]:
iqr = (df['trip_distance'].quantile(0.75) - df['trip_distance'].quantile(0.25))
iqr

np.float64(2.3)

outliers on the low end: distances less than the 25% quantile by at least 1.5 * the IQR

In [161]:
df[df['trip_distance'] < df['trip_distance'].quantile(0.25) - 1.5*iqr]

Empty DataFrame
Columns: [trip_distance, passenger_count]
Index: []

outliers on the high end: distances more than the 75% quantile by at least 1.5 * the IQR

In [162]:
outlier = df[df['trip_distance'] > df['trip_distance'].quantile(0.75) + 1.5*iqr]
outlier

      trip_distance  passenger_count
7             11.90                4
60             9.30                1
73            12.65                1
82            10.24                3
88            23.76                2
...             ...              ...
9975           7.60                1
9976          12.60                1
9979          11.30                1
9980           9.13                1
9982           9.30                1

[1219 rows x 2 columns]

In [163]:
outlier.count()

trip_distance      1219
passenger_count    1219
dtype: int64

this much ride

In [164]:
(outlier['passenger_count'].count() / passenger_count.count()) *100

np.float64(12.191219121912193)

outliers lowest 10% highest 10%

In [165]:
df[(df['trip_distance'] < df['trip_distance'].quantile(0.1))]

      trip_distance  passenger_count
1              0.46                1
9              0.60                1
10             0.01                3
13             0.50                2
15             0.60                2
...             ...              ...
9948           0.60                1
9950           0.50                1
9954           0.48                1
9962           0.47                1
9978           0.38                1

[985 rows x 2 columns]

In [166]:
df[(df['trip_distance'] > df['trip_distance'].quantile(0.9))]

      trip_distance  passenger_count
7             11.90                4
60             9.30                1
73            12.65                1
82            10.24                3
88            23.76                2
...             ...              ...
9964          18.55                1
9976          12.60                1
9979          11.30                1
9980           9.13                1
9982           9.30                1

[999 rows x 2 columns]

short, medium, long trip (count trip number, perresger)

EX07