## Interpolation 
about cleaning data sets.

In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.read_csv('../data/nyc-temps.txt').squeeze()
s

0     -1
1     -1
2     -1
3     -1
4     -1
      ..
723    2
724    2
725    2
726    2
727    2
Name: -1, Length: 728, dtype: int64

In [3]:
df = pd.DataFrame({'temp': s, 'hour': [0,3,6,9,12,15,18,21] * 91})

In [4]:
# df.describe()

In [5]:
# df.loc[df['hour'].isin([3,6]), 'temp'] = pd.NA
# df.head(20)

In [6]:
# df = df.interpolate()
# df.head(20)

In [7]:
# df.describe()

In [8]:
# df = df.interpolate(method='nearest')
# df.head(20)

In [9]:
df.describe()

             temp        hour
count  728.000000  728.000000
mean    -1.050824   10.500000
std      5.026357    6.878589
min    -14.000000    0.000000
25%     -4.000000    5.250000
50%      0.000000   10.500000
75%      2.000000   15.750000
max     12.000000   21.000000

1. Let’s assume the equipment works fine around the clock but fails to record
readings at –1 degrees and below. Are the interpolated values similar to the real
(missing) values they replace? Why or why not?

In [10]:
# df.loc[df['temp'] <= -1, 'temp'] = pd.NA
# df = df.interpolate()
# df['temp'].describe()

2. A cheap solution to interpolation is to replace NaN values with the column’s
mean. Do this (with the missing values from –1 and below), and compare the
new mean and median. Again, why are (or aren’t) these values similar to the
original ones?

In [11]:
mean = df['temp'].mean()
df.loc[df['temp'] <= -1, 'temp'] = mean
df['temp'].describe()

/tmp/ipykernel_24453/868334497.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-1.0508241758241759' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['temp'] <= -1, 'temp'] = mean

count    728.000000
mean       0.924671
std        2.717596
min       -1.050824
25%       -1.050824
50%        0.000000
75%        2.000000
max       12.000000
Name: temp, dtype: float64