In [1]:
import pandas as pd

import numpy as np

In [2]:
df = pd.read_csv('../data/nyc-parking-violations-2020.csv',
                usecols=['Plate ID',
                    'Registration State',
                    'Vehicle Make',
                    'Vehicle Color',
                    'Violation Time',
                    'Street Name'])

In [3]:
df.isnull().sum()

Plate ID                 202
Registration State         0
Vehicle Make           62420
Violation Time           278
Street Name             1417
Vehicle Color         391982
dtype: int64

In [4]:
no_blankplate_df = df.replace({'Plate ID':'BLANKPLATE'}, pd.NA).dropna(subset=['Plate ID', 'Registration State', 'Vehicle Make', 'Street Name'], thresh=3)
df.shape[0] - no_blankplate_df.shape[0]

944

In [5]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12495734 entries, 0 to 12495733
Data columns (total 6 columns):
 #   Column              Non-Null Count     Dtype
---  ------              --------------     -----
 0   Plate ID            12495532 non-null  object
 1   Registration State  12495734 non-null  object
 2   Vehicle Make        12433314 non-null  object
 3   Violation Time      12495456 non-null  object
 4   Street Name         12494317 non-null  object
 5   Vehicle Color       12103752 non-null  object
dtypes: object(6)
memory usage: 572.0+ MB

In [6]:
'''
df.shape[0]
len(df)
len(df.index)
'''

'\ndf.shape[0]\nlen(df)\nlen(df.index)\n'

In [7]:
df = df.dropna()
df.info(show_counts= True)

<class 'pandas.core.frame.DataFrame'>
Index: 12048375 entries, 0 to 12495733
Data columns (total 6 columns):
 #   Column              Non-Null Count     Dtype
---  ------              --------------     -----
 0   Plate ID            12048375 non-null  object
 1   Registration State  12048375 non-null  object
 2   Vehicle Make        12048375 non-null  object
 3   Violation Time      12048375 non-null  object
 4   Street Name         12048375 non-null  object
 5   Vehicle Color       12048375 non-null  object
dtypes: object(6)
memory usage: 643.5+ MB

In [8]:
semi_good_df = df.dropna(subset=['Plate ID',
                                'Registration State',
                                'Vehicle Make',
                                'Street Name'])
semi_good_df.head()

,Plate ID,Registration State,Vehicle Make,Violation Time,Street Name,Vehicle Color
0,J58JKX,NJ,HONDA,0523P,43 ST,BK
1,KRE6058,PA,ME/BE,0428P,UNION ST,BLK
2,444326R,NJ,LEXUS,0625A,CLERMONT AVENUE,BLACK
4,FMY9090,NY,JEEP,1253A,GRAND ST,GREY
5,KDG0693,PA,HYUN,0525P,B 99 ST,GY

In [ ]:
semi_good_df[semi_good_df['Vehicle Make'] == 'HYUN']

,Plate ID,Registration State,Vehicle Make,Violation Time,Street Name,Vehicle Color
5,KDG0693,PA,HYUN,0525P,B 99 ST,GY
2757,CWHF86,FL,HYUN,0755P,AVENUE U,BLK
3249,HHJ8869,NY,HYUN,1018P,AUDUBON AVE,RED
3338,HWU2970,NY,HYUN,0159A,153 ST,BLK
3548,HAM2192,99,HYUN,1111A,FLATLANDS AVE,GREY
...,...,...,...,...,...,...
12478389,HLR9954,OH,HYUN,0555P,EB ATLANTIC AVE @ 13,SILVE
12480570,GKPN93,FL,HYUN,1029A,EB LINDEN BLVD @ ROC,BLU
12482622,JBJE99,FL,HYUN,1125A,NB WEST ST @ CARLISL,WHI
12494985,HTC5573,NY,HYUN,0540P,FT TILDEN,BLU
12495143,LIDY76,NJ,HYUN,0102P,EDGEWATER RD,GR