In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/nyc-parking-violations-2020.csv',
                 usecols=['Plate ID',
                          'Registration State', 
                          'Vehicle Make', 
                          'Vehicle Color', 
                          'Street Name'],
                 )

In [3]:
df['Vehicle Color'].value_counts().count()

np.int64(1896)

In [4]:
len(df['Vehicle Color'].value_counts().index)

1896

In [5]:
df['Vehicle Color'].value_counts().head()

Vehicle Color
WH       2344858
GY       2307704
BK       2066374
WHITE    1061234
BL        775124
Name: count, dtype: int64

In [6]:
colormap = {'WH': 'WHITE', 'GY':'GRAY', 'BK':'BLACK',
            'BL':'BLUE', 'RD':'RED',
            'GR':'GRAY', 'TN':'TAN', 'BR':'BROWN',
            'YW':'YELLO', 'BLK':'BLACK', 'GRY':'GRAY',
            'WHT':'WHITE', 'WHI':'WHITE', 'OR':'ORANGE',
            'BK.':'BLACK', 'WT':'WHITE', 'WT.':'WHITE'}

df['Vehicle Color'] = df['Vehicle Color'].replace(colormap)
len(df['Vehicle Color'].value_counts().index)

1880

In [7]:
df['Vehicle Color'].value_counts().head()

Vehicle Color
WHITE    3521461
BLACK    2650853
GRAY     2578014
BLUE      953422
RED       644991
Name: count, dtype: int64

In [8]:
colormap = {'WH': 'WHITE', 'GY':'GRAY',
            'BK':'BLACK', 'BL':'BLUE',
            'RD':'RED', 'GR':'GRAY',
            'TN':'TAN', 'BR':'BROWN',
            'YW':'YELLO', 'BLK':'BLACK',
            'GRY':'GRAY', 'WHT':'WHITE',
            'WHI':'WHITE', 'OR':'ORANG',
            'BK.':'BLACK', 'WT':'WHITE',
            'WT.':'WHITE'}

df['Vehicle Color'] = df['Vehicle Color'].replace(colormap)
len(df['Vehicle Color'].value_counts().index)

1880

In [9]:
df['Vehicle Color'].value_counts().head()

Vehicle Color
WHITE    3521461
BLACK    2650853
GRAY     2578014
BLUE      953422
RED       644991
Name: count, dtype: int64

In [10]:
df['Vehicle Make'].value_counts()

Vehicle Make
TOYOT    1395273
HONDA    1343265
FORD     1328063
NISSA    1119587
CHEVR     711464
          ...
AUS            1
HHSU           1
CARBY          1
KEW W          1
VWJ            1
Name: count, Length: 5210, dtype: int64

In [11]:
import string

def clean_name(one_string):

    if not isinstance(one_string, str):
        return one_string

    output = ''
    
    for one_character in one_string.strip().upper():
        if one_character in string.ascii_uppercase:
            output += one_character

    return output

print(len(df['Vehicle Make'].value_counts()))
df['Vehicle Make'] = df['Vehicle Make'].apply(clean_name)
print(len(df['Vehicle Make'].value_counts()))

5210
4915

In [12]:
df['Vehicle Make'].value_counts()

Vehicle Make
TOYOT    1396714
HONDA    1344479
FORD     1329493
NISSA    1121782
CHEVR     712494
          ...
REFEL          1
TOMO           1
HADA           1
KAWG           1
ACYRA          1
Name: count, Length: 4915, dtype: int64