## query and eval

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/nyc-parking-violations-2020.csv',
                 usecols = [1, 2, 3, 7, 33, 37],
                 names = ['pid', 'state', 'ptype', 'make', 'color', 'feet'])


df.head()

/tmp/ipykernel_267035/3447202135.py:1: DtypeWarning: Columns (37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/nyc-parking-violations-2020.csv',

,pid,state,ptype,make,color,feet
0,Plate ID,Registration State,Plate Type,Vehicle Make,Vehicle Color,Feet From Curb
1,J58JKX,NJ,PAS,HONDA,BK,0
2,KRE6058,PA,PAS,ME/BE,BLK,0
3,444326R,NJ,PAS,LEXUS,BLACK,0
4,F728330,OH,PAS,CHEVR,NaN,0

In [3]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12495735 entries, 0 to 12495734
Data columns (total 6 columns):
 #   Column  Dtype
---  ------  -----
 0   pid     object
 1   state   object
 2   ptype   object
 3   make    object
 4   color   object
 5   feet    object
dtypes: object(6)
memory usage: 3.5 GB

In [4]:
df[['pid', 'state', 'ptype', 'make', 'color', 'feet']] = df[['pid', 'state', 'ptype', 'make', 'color', 'feet']].astype('category')

In [5]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12495735 entries, 0 to 12495734
Data columns (total 6 columns):
 #   Column  Dtype
---  ------  -----
 0   pid     category
 1   state   category
 2   ptype   category
 3   make    category
 4   color   category
 5   feet    category
dtypes: category(6)
memory usage: 433.4 MB

In [21]:
%%timeit
df.loc[(df['state'] == 'NY') |
(df['state'] == 'NJ') |
(df['state'] == 'CT')]

222 ms ± 12.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [26]:
%timeit df.loc[(df['state'] == 'NY')]

209 ms ± 7.98 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [27]:
%timeit df.query('state == "NY"')

450 ms ± 20 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [25]:
%timeit df[df.eval('state == "NY"')]

431 ms ± 16.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [28]:
%timeit df.loc[((df['state'] == 'NY') & (df['ptype'] == 'PAS'))]
%timeit df.query('state == "NY" & ptype == "PAS"')
%timeit df.loc[df.eval('state == "NY" & ptype == "PAS"')]

132 ms ± 2.34 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
518 ms ± 3.81 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
510 ms ± 10.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [30]:
%%timeit
df.loc[((df['state'] == 'NY') &
(df['ptype'] == 'PAS') &
(df['color'] == 'WHITE'))]

26.6 ms ± 1.71 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [31]:
%%timeit
df.query(
'state == "NY" & ptype == "PAS" & color == "WHITE"')

474 ms ± 13.7 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [32]:
%%timeit
df.loc[df.eval(
'state == "NY" & ptype == "PAS" & color == "WHITE"')]

460 ms ± 6.04 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)