In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('../data/olympic_athlete_events.csv')
df.memory_usage().sum()

np.int64(32534052)

In [11]:
df.memory_usage(deep= True).sum()

np.int64(166569400)

In [12]:
df.memory_usage(deep= True).sort_values()

Index          132
ID         2168928
Height     2168928
Age        2168928
Weight     2168928
Year       2168928
Medal      9563977
Sex       13555800
NOC       14098032
Season    14911380
City      15394181
Team      15566033
Sport     15862091
Games     16266960
Name      18528607
Event     21977567
dtype: int64

In [13]:
df['Games'].value_counts().head(10)

Games
2000 Summer    13821
1996 Summer    13780
2016 Summer    13688
2008 Summer    13602
2004 Summer    13443
1992 Summer    12977
2012 Summer    12920
1988 Summer    12037
1972 Summer    10304
1984 Summer     9454
Name: count, dtype: int64

In [14]:
df['Games'] = df['Games'].astype('category')

In [15]:
df.memory_usage(deep=True).sum()

np.int64(150578720)

In [17]:
(df.count() / df.nunique()).sort_values(ascending=False)

Sex       135558.000000
Season    135558.000000
Medal      13261.000000
Year        7746.171429
City        6455.142857
Games       5316.000000
Sport       4107.818182
Age         3535.702703
Height      2220.473684
NOC         1178.765217
Weight       946.550000
Event        354.400000
Team         228.983108
Name           2.012261
ID             1.999808
dtype: float64

In [18]:
col = ['Sex', 'Season', 'Medal', 'City',
        'Games','Sport', 'NOC', 'Event', 'Team']

for column_name in col:
    print(column_name)
    df[column_name] = df[column_name].astype('category')

Sex
Season
Medal
City
Games
Sport
NOC
Event
Team

In [19]:
df.memory_usage(deep= True).sum()

np.int64(32847162)

`abcd_category = pd.CategoricalDtype(['a', 'b', 'c', 'd'])
s = Series(['a', 'b', 'c', 'a', 'b', 'c', 'c', 'c']).astype(abcd_category)
s.loc[7] = 'd'`