In [1]:
import pandas as pd
import numpy as np

In [4]:
s = pd.Series(['1970-07-14', '1972-03-01', '2000-12-16', '2002-12-17', '2005-10-31'])
pd.to_datetime(s)

0   1970-07-14
1   1972-03-01
2   2000-12-16
3   2002-12-17
4   2005-10-31
dtype: datetime64[ns]

In [8]:
s = pd.Series(['1970-Jul-14', '1972-Mar-01', '2000-Dec-16', '2002-Dec-17', '2005-Oct-31'])
pd.to_datetime(s)

0   1970-07-14
1   1972-03-01
2   2000-12-16
3   2002-12-17
4   2005-10-31
dtype: datetime64[ns]

In [9]:
s = pd.Series(['14-Jul-1970', '01-Mar-1972', '16-Dec-2000', '17-Dec-2002', '31-Oct-2005'])

pd.to_datetime(s)

0   1970-07-14
1   1972-03-01
2   2000-12-16
3   2002-12-17
4   2005-10-31
dtype: datetime64[ns]

In [10]:
s = pd.Series(['01/03/1972', '05/12/1995'])
pd.to_datetime(s)

0   1972-01-03
1   1995-05-12
dtype: datetime64[ns]

In [11]:
s = pd.Series(['01/03/1972', '05/12/1995'])
pd.to_datetime(s, dayfirst=False)

0   1972-01-03
1   1995-05-12
dtype: datetime64[ns]

In [26]:
s = pd.Series(['1970-07-14 8:00', '1972-03-01 10:00 pm', '2000-12-16 12:15:28', '2002-12-17 18:17', '2005-10-31 23:51'])
pd.to_datetime(s,format='mixed')

0   1970-07-14 08:00:00
1   1972-03-01 22:00:00
2   2000-12-16 12:15:28
3   2002-12-17 18:17:00
4   2005-10-31 23:51:00
dtype: datetime64[ns]

In [18]:
df = pd.DataFrame([s.split('-')
for s in ['14-07-1970', '01-03-1971', '16-12-2000', '17-12-2002', '31-10-2005']],
    columns='day month year'.split())

pd.to_datetime(df[['year', 'month', 'day']])

0   1970-07-14
1   1971-03-01
2   2000-12-16
3   2002-12-17
4   2005-10-31
dtype: datetime64[ns]

In [24]:
s = pd.Series(['1970-07-14 8:00', 
            '1972-03-01 10:00 pm', 
            '2000-12-16 12:15:28', 
            '2002-12-17 18:17', 
            '2005-10-31 23:51'])
s = pd.to_datetime(s ,format='mixed')
pd.to_datetime('2021-July-01') - s

0   18614 days 16:00:00
1   18018 days 02:00:00
2    7501 days 11:44:32
3    6770 days 05:43:00
4    5721 days 00:09:00
dtype: timedelta64[ns]

In [29]:
pd.to_timedelta('2 days 3:20:10').components

Components(days=2, hours=3, minutes=20, seconds=10, milliseconds=0, microseconds=0, nanoseconds=0)