##  Best tippers

In [61]:
import pandas as pd
import numpy as np

In [62]:
cols = ['tpep_pickup_datetime','passenger_count','trip_distance',
'fare_amount','extra','mta_tax', 'tip_amount','tolls_amount',
'improvement_surcharge','total_amount','congestion_surcharge']

dates = ['tpep_pickup_datetime']

df1 = pd.read_csv('../data/nyc_taxi_2019-01.csv',
                  usecols= cols,
                  parse_dates= dates)

df2 = pd.read_csv('../data/nyc_taxi_2019-07.csv',
                  usecols= cols,
                  parse_dates= dates,
                  )

df = pd.concat([df1,df2])

# droping those 2 dataframe cause I need more ram. 
df1 = df1.drop(columns=cols)
df2 = df2.drop(columns=cols)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13978211 entries, 0 to 6310418
Data columns (total 11 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tpep_pickup_datetime   datetime64[ns]
 1   passenger_count        float64
 2   trip_distance          float64
 3   fare_amount            float64
 4   extra                  float64
 5   mta_tax                float64
 6   tip_amount             float64
 7   tolls_amount           float64
 8   improvement_surcharge  float64
 9   total_amount           float64
 10  congestion_surcharge   float64
dtypes: datetime64[ns](1), float64(10)
memory usage: 1.2 GB

In [64]:
df.count()

tpep_pickup_datetime     13978211
passenger_count          13944252
trip_distance            13978211
fare_amount              13978211
extra                    13978211
mta_tax                  13978211
tip_amount               13978211
tolls_amount             13978211
improvement_surcharge    13978211
total_amount             13978211
congestion_surcharge      9122233
dtype: int64

In [65]:
df.min()

tpep_pickup_datetime     2001-02-02 14:55:07
passenger_count                          0.0
trip_distance                            0.0
fare_amount                           -450.0
extra                                  -60.0
mta_tax                                 -0.5
tip_amount                            -221.0
tolls_amount                           -70.0
improvement_surcharge                   -0.3
total_amount                          -450.8
congestion_surcharge                    -2.5
dtype: object

In [66]:
df.max()

tpep_pickup_datetime     2088-01-24 00:25:39
passenger_count                          9.0
trip_distance                          831.8
fare_amount                        623259.86
extra                                 535.38
mta_tax                                 60.8
tip_amount                            787.25
tolls_amount                          3288.0
improvement_surcharge                    0.6
total_amount                       623261.66
congestion_surcharge                    2.75
dtype: object

In [67]:
df = df.dropna(subset= 'passenger_count')

In [68]:
colm_32 = ['fare_amount',
         'tolls_amount'
         ]

colm_16 = ['tip_amount',
           'congestion_surcharge',
           'improvement_surcharge',
           'mta_tax',
           'extra',
           'trip_distance',
           'total_amount'
]

df[colm_32] = df[colm_32].astype(np.float32)
df[colm_16] = df[colm_16].astype(np.float16)
df['passenger_count'] = df['passenger_count'].astype(np.int8)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13944252 entries, 0 to 6276459
Data columns (total 11 columns):
 #   Column                 Dtype
---  ------                 -----
 0   tpep_pickup_datetime   datetime64[ns]
 1   passenger_count        int8
 2   trip_distance          float16
 3   fare_amount            float32
 4   extra                  float16
 5   mta_tax                float16
 6   tip_amount             float16
 7   tolls_amount           float32
 8   improvement_surcharge  float16
 9   total_amount           float16
 10  congestion_surcharge   float16
dtypes: datetime64[ns](1), float16(7), float32(2), int8(1)
memory usage: 518.6 MB

/usr/lib/python3.13/site-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)

In [69]:
df.head(5)

/usr/lib/python3.13/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,tpep_pickup_datetime,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2019-01-01 00:46:40,1,1.500000,7.0,0.5,0.5,1.650391,0.0,0.300049,9.953125,NaN
1,2019-01-01 00:59:47,1,2.599609,14.0,0.5,0.5,1.000000,0.0,0.300049,16.296875,NaN
2,2018-12-21 13:48:30,3,0.000000,4.5,0.5,0.5,0.000000,0.0,0.300049,5.800781,NaN
3,2018-11-28 15:52:25,5,0.000000,3.5,0.5,0.5,0.000000,0.0,0.300049,7.550781,NaN
4,2018-11-28 15:56:57,5,0.000000,52.0,0.0,0.5,0.000000,0.0,0.300049,55.562500,NaN

In [70]:
df['pre_tip_amount'] = (df['fare_amount'] + 
                        df['extra'] + 
                        df['mta_tax'] + 
                        df['tolls_amount'] + 
                        df['improvement_surcharge'] + 
                        df['congestion_surcharge'])
df.tail()

/usr/lib/python3.13/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,tpep_pickup_datetime,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,pre_tip_amount
6276455,2019-07-31 23:37:43,3,3.630859,14.5,0.5,0.5,2.000000,0.0,0.300049,20.296875,2.5,18.300049
6276456,2019-07-31 23:39:35,1,2.000000,9.0,3.0,0.5,3.199219,0.0,0.300049,16.000000,2.5,15.300049
6276457,2019-07-31 22:42:58,1,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,2.5,2.500000
6276458,2019-07-31 23:23:58,1,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000
6276459,2019-07-31 23:24:41,1,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000

In [71]:
df['tip_percentage'] = df['tip_amount'] / df['pre_tip_amount']
df.tail()

/usr/lib/python3.13/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,tpep_pickup_datetime,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,pre_tip_amount,tip_percentage
6276455,2019-07-31 23:37:43,3,3.630859,14.5,0.5,0.5,2.000000,0.0,0.300049,20.296875,2.5,18.300049,0.109289
6276456,2019-07-31 23:39:35,1,2.000000,9.0,3.0,0.5,3.199219,0.0,0.300049,16.000000,2.5,15.300049,0.209099
6276457,2019-07-31 22:42:58,1,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,2.5,2.500000,0.000000
6276458,2019-07-31 23:23:58,1,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,NaN
6276459,2019-07-31 23:24:41,1,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,NaN

In [72]:
df['tip_percentage'].mean() * 100

np.float32(12.774378)

In [73]:
(df['tip_percentage'] > 1).value_counts()

tip_percentage
False    13939483
True         4769
Name: count, dtype: int64

In [74]:
(df['tip_percentage'] == 0).value_counts(normalize=True) * 100

tip_percentage
False    79.379934
True     20.620066
Name: proportion, dtype: float64

In [75]:
df.groupby(df['tpep_pickup_datetime'].dt.day_of_week)['tip_percentage'].mean()*100

tpep_pickup_datetime
0    12.655478
1    13.067251
2    13.121271
3    13.297364
4    12.468040
5    12.013351
6    12.239432
Name: tip_percentage, dtype: float32

In [76]:
df.groupby(df['tpep_pickup_datetime'].dt.hour)['tip_percentage'].mean().sort_values(ascending=False) * 100

tpep_pickup_datetime
22    13.745442
20    13.606463
21    13.562467
8     13.503714
23    13.239336
19    13.220580
9     13.094264
7     13.076327
18    13.060859
0     13.053675
1     12.774512
17    12.623226
2     12.550220
10    12.417994
11    12.285864
16    12.228410
13    12.218137
12    12.193041
15    12.086469
14    12.085627
6     11.966271
3     11.846139
5     11.065868
4     11.031837
Name: tip_percentage, dtype: float32

In [77]:
df.groupby(df['tpep_pickup_datetime'].dt.month)['tip_percentage'].mean().sort_values(ascending=False) * 100

tpep_pickup_datetime
8     16.225334
1     14.006763
9     13.923433
11    13.040105
2     12.663550
7     12.222281
6     10.685122
10    10.000401
12     2.842782
3           NaN
4           NaN
5           NaN
Name: tip_percentage, dtype: float32

In [78]:
df = df.set_index('tpep_pickup_datetime')
df.head()

/usr/lib/python3.13/site-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,pre_tip_amount,tip_percentage
tpep_pickup_datetime,,,,,,,,,,,,
2019-01-01 00:46:40,1,1.500000,7.0,0.5,0.5,1.650391,0.0,0.300049,9.953125,NaN,NaN,NaN
2019-01-01 00:59:47,1,2.599609,14.0,0.5,0.5,1.000000,0.0,0.300049,16.296875,NaN,NaN,NaN
2018-12-21 13:48:30,3,0.000000,4.5,0.5,0.5,0.000000,0.0,0.300049,5.800781,NaN,NaN,NaN
2018-11-28 15:52:25,5,0.000000,3.5,0.5,0.5,0.000000,0.0,0.300049,7.550781,NaN,NaN,NaN
2018-11-28 15:56:57,5,0.000000,52.0,0.0,0.5,0.000000,0.0,0.300049,55.562500,NaN,NaN,NaN

In [79]:
df.resample('1D')['tip_percentage'].mean().sort_values(ascending=False).head(10)

tpep_pickup_datetime
2019-08-20    0.241867
2019-01-03    0.200772
2019-08-10    0.200045
2019-09-22    0.200038
2019-09-24    0.200035
2010-08-08    0.200035
2019-09-25    0.200030
2019-11-27    0.200006
2019-12-18    0.199978
2019-08-15    0.199963
Name: tip_percentage, dtype: float32

In [81]:
# df = pd.concat([df['2019-01-01':'2019-01-31'],df['2019-07-01':'2019-07-31']])

# df.resample('1D')['tip_percentage'].mean().sort_values(ascending=False).head(10)

In [83]:
df.resample('1ME')['tip_percentage'].mean().dropna()

tpep_pickup_datetime
2002-02-28    0.000000
2008-12-31    0.017706
2009-01-31    0.032433
2010-08-31    0.200035
2019-01-31    0.140069
2019-02-28    0.144726
2019-06-30    0.106851
2019-07-31    0.122223
2019-08-31    0.161232
2019-09-30    0.139234
2019-10-31    0.100004
2019-11-30    0.130401
2019-12-31    0.199978
2020-01-31    0.175200
Name: tip_percentage, dtype: float32

In [86]:
df.loc[df['tip_amount'] >0, 'tip_percentage'].mean()

np.float32(0.1868738)