## Pandemic Taxis

##

In [1]:
import pandas as pd

In [2]:
df_2019_jul = pd.read_csv('../data/nyc_taxi_2019-07.csv', usecols=['passenger_count', 'total_amount', 'payment_type'])
df_2019_jul['year'] = 2019
df_2019_jul.head()

   passenger_count  payment_type  total_amount  year
0              1.0           1.0          4.94  2019
1              1.0           2.0         20.30  2019
2              1.0           1.0         70.67  2019
3              1.0           1.0         66.36  2019
4              0.0           1.0         15.30  2019

In [3]:
df_2020_jul = pd.read_csv('../data/nyc_taxi_2020-07.csv', usecols=['passenger_count', 'total_amount', 'payment_type'])
df_2020_jul['year'] = 2020
df_2020_jul.head()

   passenger_count  payment_type  total_amount  year
0              1.0           2.0          9.30  2020
1              1.0           1.0         27.80  2020
2              1.0           2.0         22.30  2020
3              1.0           1.0         14.16  2020
4              1.0           2.0          7.80  2020

In [4]:
df = pd.concat([df_2019_jul, df_2020_jul])
df.head()

   passenger_count  payment_type  total_amount  year
0              1.0           1.0          4.94  2019
1              1.0           2.0         20.30  2019
2              1.0           1.0         70.67  2019
3              1.0           1.0         66.36  2019
4              0.0           1.0         15.30  2019

In [5]:
df.memory_usage(deep=True)

Index              56886648
passenger_count    56886648
payment_type       56886648
total_amount       56886648
year               56886648
dtype: int64

How many rides were taken in 2019 and 2020, and what is the difference between these two figures?

In [6]:

df.loc[df['year'] == 2019, 'total_amount'].count() - df.loc[df['year'] == 2020, 'total_amount'].count()

np.int64(5510007)

How much money (in total) was collected in 2019 and 2020, and what was thedifference between these two figures?

In [7]:
df.loc[df['year'] == 2019, 'total_amount'].sum() - df.loc[df['year'] == 2020, 'total_amount'].sum()

np.float64(108848979.24000001)

In [8]:
df.loc[df['year'] == 2019, 'total_amount'].sum().round(2) - df.loc[df['year'] == 2020, 'total_amount'].sum().round(2)

np.float64(108848979.24)

Did the proportion of trips with more than one passenger change dramatically?

In [9]:
df.loc[(df['year'] == 2019) & (df['passenger_count'] > 1), 'passenger_count'].count() / df.loc[df['year'] == 2019, 'payment_type'].count() * 100

np.float64(28.339000009559527)

In [10]:
df.loc[(df['year'] == 2020) & (df['passenger_count'] > 1), 'passenger_count'].count() / df.loc[df['year'] == 2020, 'payment_type'].count() * 100

np.float64(20.61513222563435)

Did people use cash (i.e., payment_type of 2) less in 2020 than in 2019?

In [11]:
df.loc[(df['year'] == 2019) & (df['payment_type'] == 2), 'payment_type'].count() / df.loc[df['year'] == 2019, 'payment_type'].count() * 100

np.float64(28.705958454287927)

In [12]:
df.loc[(df['year'] == 2020) & (df['payment_type'] == 2), 'payment_type'].count() / df.loc[df['year'] == 2020, 'payment_type'].count() * 100

np.float64(32.0558865998251)

Show, with a single command, the difference in descriptive statistics for total_amount between 2019 and 2020. Round values to use no more than two digits after the decimal point.

In [13]:
df.loc[df['year'] == 2020, 'total_amount'].describe().round(2) - df.loc[df['year'] == 2019, 'total_amount'].describe().round(2)

count   -5510007.00
mean          -0.98
std           -0.75
min           53.20
25%           -0.50
50%           -0.60
75%           -0.75
max        -4672.45
Name: total_amount, dtype: float64

If we assume that zero-passenger trips are for delivering packages, how were those affected during the pandemic? Show the proportion of such trips in 2019 vs. 2020.

In [14]:
df.loc[(df['year'] == 2019) & (df['passenger_count'] == 0), 'passenger_count'].count() / df['passenger_count'].count() * 100

np.float64(1.666432611802781)

In [15]:
df.loc[(df['year'] == 2020) & (df['passenger_count'] == 0), 'passenger_count'].count() / df['passenger_count'].count() * 100

np.float64(0.2780999497435495)