## Setting column types

In [25]:
import pandas as pd
import numpy as np

In [26]:
file = pd.read_csv('../data/nyc_taxi_2020-01.csv',
                   usecols=['passenger_count', 'total_amount' , 'payment_type'],
                   dtype= {'passenger_count':np.float32, 
                           'total_amount':np.float32, 
                           'payment_type':np.float32},
                        
                   ).squeeze()
df = pd.DataFrame(file)

In [27]:
df = df.dropna().copy()

In [28]:
df['passenger_count'] = df['passenger_count'].astype(np.int8)

In [29]:
df['payment_type'] = df['payment_type'].astype(np.int8)

In [30]:
df['total_amount'] = df['total_amount'].astype(np.int8)

In [31]:
df

         passenger_count  payment_type  total_amount
0                      1             1            11
1                      1             1            12
2                      1             1            10
3                      1             1             8
4                      1             2             4
...                  ...           ...           ...
6339562                1             1            17
6339563                1             1            20
6339564                1             1            19
6339565                1             2            12
6339566                1             1             0

[6339567 rows x 3 columns]

In [ ]:
file = pd.read_csv('../data/nyc_taxi_2020-01.csv',
                usecols=['VendorID', 'trip_distance', 'tip_amount', 'total_amount'],
                dtype={'VendorID':np.float32,
                       'trip_distance':np.float32, 
                       'tip_amount':np.float32,
                       'total_amount':np.float32}).squeeze()
df2 = pd.DataFrame(file)
df2 = df2.dropna().copy()
df2['VendorID'] = df2['VendorID'].astype(np.int8)