## Big citys

In [ ]:
import pandas as pd

df = pd.read_json('../data/cities.json')

In [2]:
df['population'].describe()[['mean', '50%']]

mean    131132.443
50%      68207.000
Name: population, dtype: float64

In [3]:
df.loc[50:, 'population'].describe()[['mean', '50%']]

mean    87027.387368
50%     65796.000000
Name: population, dtype: float64

In [4]:
df.loc[df['latitude'] == df['latitude'].max(), ['city', 'state', 'rank']]

         city   state  rank
62  Anchorage  Alaska    63

In [5]:
df['state'].value_counts().head(1)

state
California    212
Name: count, dtype: int64

In [6]:
df['state'].value_counts().tail(5)

state
District of Columbia    1
Alaska                  1
Hawaii                  1
Maine                   1
Vermont                 1
Name: count, dtype: int64