## (CPT 01 EX01) Grade 10 avareage marks in every months.

1. What is the student’s average test score for the entire year?
2. What is the student’s average test score during the first half of the year (i.e., the first five months)?
3. What is the student’s average test score during the second half of the year?
4. Did the student improve their performance in the second half? If so, by how much?

In [1]:
import pandas as pd
import numpy as np

from pandas import Series, DataFrame

In [2]:


random_numbers = np.random.default_rng().integers(70,100,12)
# s = Series(random_numbers)
# s.index = "Jan Feb Mar Apr May Jun Jly Aug Sep Oct Nov Dec".split()  # not a good way to do things. 
months = "Jan Feb Mar Apr May Jun Jly Aug Sep Oct Nov Dec".split()

s = Series(random_numbers, index= months)
s

Jan    93
Feb    81
Mar    95
Apr    94
May    84
Jun    89
Jly    90
Aug    99
Sep    93
Oct    85
Nov    77
Dec    80
dtype: int64

In [3]:
f"yearly avarage {random_numbers.mean()}"

'yearly avarage 88.33333333333333'

In [4]:
first_half = f"avarage of the first half {random_numbers[:6].mean()}"
first_half

'avarage of the first half 89.33333333333333'

In [5]:
f"avarage of the Jan to June {s.loc['Jan':'Jun'].mean()}"

'avarage of the Jan to June 89.33333333333333'

In [6]:
second_half = f"avarage of the second half {random_numbers[6:].mean()}"
second_half

'avarage of the second half 87.33333333333333'

In [7]:
f"avarage of the July to December {s.loc['Jly':'Dec'].mean()}"

'avarage of the July to December 87.33333333333333'

In [8]:
f"Improvment: {random_numbers[:6].mean() - random_numbers[6:].mean()}"

'Improvment: 2.0'

In [9]:
f'max number: {s.max()} and Month: {s.idxmax()}'

'max number: 99 and Month: Aug'

In [10]:
# top 5 numbers
s.sort_values(ascending=False).head(5)

Aug    99
Mar    95
Apr    94
Jan    93
Sep    93
dtype: int64