## Monday Temperatures

In [47]:
import pandas as pd
import numpy as np

In [48]:
degree = np.random.default_rng().normal(20,5,28)
days = 'Sun Mon Tue Wed Thu Fri Sat'.split()
s = pd.Series(degree, index= days*4).round().astype('Int8') # float to round, and int from float. 
s

Sun    21
Mon    23
Tue    18
Wed    22
Thu    30
Fri    13
Sat    17
Sun    20
Mon    17
Tue    21
Wed    14
Thu    23
Fri    14
Sat    17
Sun    18
Mon    22
Tue    16
Wed    21
Thu    24
Fri    25
Sat    21
Sun    14
Mon    21
Tue    15
Wed     8
Thu    12
Fri    23
Sat    22
dtype: Int8

In [49]:
s.loc['Mon'].mean()

np.float64(20.75)

In [50]:
#avarage weekend temp. saturday sunday...

s.loc[['Sat', 'Sun']].mean()

np.float64(18.75)

In [53]:
s[s.diff() > 2]

Wed    22
Thu    30
Sat    17
Sun    20
Tue    21
Thu    23
Sat    17
Mon    22
Wed    21
Thu    24
Mon    21
Thu    12
Fri    23
dtype: Int8

In [51]:
s.value_counts().head(2)

21    5
23    3
Name: count, dtype: Int64