## Parking ticket

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/nyc-parking-violations-2020.csv',
    usecols=[
    'Date First Observed',
    'Registration State', 
    'Plate ID',
    'Issue Date', 
    'Vehicle Make',
    'Street Name', 
    'Vehicle Color'])

In [3]:
df.head(5)

,Plate ID,Registration State,Issue Date,Vehicle Make,Street Name,Date First Observed,Vehicle Color
0,J58JKX,NJ,05/08/1972 12:00:00 AM,HONDA,43 ST,0,BK
1,KRE6058,PA,08/29/1977 12:00:00 AM,ME/BE,UNION ST,0,BLK
2,444326R,NJ,10/03/1988 12:00:00 AM,LEXUS,CLERMONT AVENUE,0,BLACK
3,F728330,OH,01/03/1990 12:00:00 AM,CHEVR,DIVISION AVE,0,NaN
4,FMY9090,NY,02/14/1990 12:00:00 AM,JEEP,GRAND ST,0,GREY

In [4]:
df = df.set_index('Issue Date')

In [5]:
df.head(5)

,Plate ID,Registration State,Vehicle Make,Street Name,Date First Observed,Vehicle Color
Issue Date,,,,,,
05/08/1972 12:00:00 AM,J58JKX,NJ,HONDA,43 ST,0,BK
08/29/1977 12:00:00 AM,KRE6058,PA,ME/BE,UNION ST,0,BLK
10/03/1988 12:00:00 AM,444326R,NJ,LEXUS,CLERMONT AVENUE,0,BLACK
01/03/1990 12:00:00 AM,F728330,OH,CHEVR,DIVISION AVE,0,NaN
02/14/1990 12:00:00 AM,FMY9090,NY,JEEP,GRAND ST,0,GREY

In [6]:
df.loc['11/02/2020 12:00:00 AM', 'Vehicle Make']

'AUDI'

In [7]:
df.loc['06/01/2020 12:00:00 AM','Street Name'].value_counts().head(5)

Street Name
WB CONDUIT BLVD @ LI    1068
SB WEST ST @ LEROY S     335
EB HORACE HARDING EX     273
EB QUEENS BLVD @ 82N     245
WB ATLANTIC AVE @ CL     229
Name: count, dtype: int64