In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/olympic_athlete_events.csv',
                 index_col=['Year', 'Season', 'Sport', 'Event'],
                 usecols=['Age', 'Height', 'Team', 'Year', 'Season', 'City', 'Sport', 'Event', 'Medal']
                 )

df = df.sort_index()
df.head()

                                                     Age  Height  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres  24.0     NaN
                      Athletics Men's 1,500 metres   NaN     NaN
                      Athletics Men's 1,500 metres  22.0     NaN
                      Athletics Men's 1,500 metres  23.0   154.0
                      Athletics Men's 1,500 metres  21.0     NaN

                                                             Team    City  \
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres  United States  Athina
                      Athletics Men's 1,500 metres         Greece  Athina
                      Athletics Men's 1,500 metres      Australia  Athina
                      Athletics Men's 1,500 metres        Germany  Athina
                      Athletics Men's 1,500 metres         Greece  Athina

                                                     Medal
Year Season Sport     Event
1896 Summer Athletics Athletics Men's 1,500 metres  Silver
                      Athletics Men's 1,500 metres     NaN
                      Athletics Men's 1,500 metres    Gold
                      Athletics Men's 1,500 metres     NaN
                      Athletics Men's 1,500 metres     NaN

In [3]:
df.loc[(slice(1936,2000), 'Summer'), 'Age'].mean()

np.float64(25.026883940421765)

In [4]:
(
    df
    .dropna(subset='Medal')
    .loc[(slice(None), 'Summer', 'Archery'), 'Team']
    .value_counts()
)

Team
South Korea           69
Belgium               52
France                48
United States         41
China                 19
Italy                 15
Great Britain         13
Chinese Taipei         9
Netherlands            9
Ukraine                8
Cincinnati Archers     8
Japan                  7
Germany                7
Soviet Union           7
Finland                6
Australia              5
Boston Archers         4
Unified Team           4
Potomac Archers        4
Russia                 4
Poland                 4
Spain                  3
Indonesia              3
Sweden                 2
Mexico                 2
Name: count, dtype: int64

In [5]:
df_ = df.dropna(subset='Medal')
df_.loc[(slice(None), 'Summer', 'Archery'), 'Team'].value_counts()

Team
South Korea           69
Belgium               52
France                48
United States         41
China                 19
Italy                 15
Great Britain         13
Chinese Taipei         9
Netherlands            9
Ukraine                8
Cincinnati Archers     8
Japan                  7
Germany                7
Soviet Union           7
Finland                6
Australia              5
Boston Archers         4
Unified Team           4
Potomac Archers        4
Russia                 4
Poland                 4
Spain                  3
Indonesia              3
Sweden                 2
Mexico                 2
Name: count, dtype: int64

In [6]:
df.loc[(slice(1980, None), 'Summer', slice(None), "Table Tennis Women's Team"), 'Height'].mean()

np.float64(165.04827586206898)

In [7]:
df.loc[(slice(1980, None), 'Summer', slice(None), ["Table Tennis Men's Team", "Table Tennis Women's Team"]), 'Height'].mean()

np.float64(171.26643598615917)

In [8]:
df.loc[(slice(1980,2016), 'Summer', 'Tennis'), 'Height'].max()

np.float64(208.0)

In [9]:
df = df.reset_index('Season')
df.loc[(slice(1980,2020), 'Tennis'), 'Height'].max()

np.float64(208.0)