##  Taxi ride comparison

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/nyc_taxi_2019-01.csv',
                 usecols=['passenger_count',
                          'trip_distance',
                          'total_amount'])
df.head(10)

   passenger_count  trip_distance  total_amount
0                1            1.5          9.95
1                1            2.6         16.30
2                3            0.0          5.80
3                5            0.0          7.55
4                5            0.0         55.55
5                5            0.0         13.31
6                5            0.0         55.55
7                1            1.3          9.05
8                1            3.7         18.50
9                2            2.1         13.00

In [3]:
df.groupby('passenger_count')['total_amount'].mean()

passenger_count
0    18.663658
1    15.609601
2    15.831294
3    15.604015
4    15.650307
5    15.546940
6    15.437892
7    48.278421
8    64.105517
9    31.094444
Name: total_amount, dtype: float64

In [4]:
df.groupby('passenger_count')['total_amount'].mean().sort_index()

passenger_count
0    18.663658
1    15.609601
2    15.831294
3    15.604015
4    15.650307
5    15.546940
6    15.437892
7    48.278421
8    64.105517
9    31.094444
Name: total_amount, dtype: float64

In [5]:
df['trip_distance_group'] = pd.cut(df['trip_distance'],
                                   [df['trip_distance'].min(), 2, 10,
                                    df['trip_distance'].max()],
                                    labels=['short', 'medium', 'long'])

df.groupby('trip_distance_group')['passenger_count'].mean().sort_values(ascending=False)

/tmp/ipykernel_6152/70472317.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('trip_distance_group')['passenger_count'].mean().sort_values(ascending=False)

trip_distance_group
long      1.590035
medium    1.585319
short     1.558400
Name: passenger_count, dtype: float64